@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #fff;
    word-wrap: break-word;
    padding: 20px 20px 30px;
}

h1{
    color: #292d36;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.container{
    background-color: #22252d;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
}

.screenBox{
    min-height: 180px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 25px 25px 0;
}

#screen{
    font-size: 2.3em;
    font-weight: 500;
    width: 100%;
}

.keyboard{
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    text-align: center;
    background-color: #292d36;
    padding: 30px 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    justify-items: center;
}

.keyboard p{
    display: grid;
    align-items: center;
    background-color: #272b33;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width:950px) {
    .container{
        width: 70%;
    }
}

@media (max-width:700px) {
    .container{
        width: 95%;
    }
    .keyboard p{
        height: 4rem;
        width: 4rem;
    }    
}

@media (max-width:350px) {
    body{
        font-size: 1.2em;
    }
    #screen{
        font-size: 1.5em;
    }
    .keyboard p{
        height: 3rem;
        width: 3rem;
    }    
}